@using Exam21st.Areas.Admin.ViewModels;
@model ServicesUpdateVM

<form method="post" enctype="multipart/form-data" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Name">
    </div>

    <div class="mb-3">
        <label for="" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Description">
    </div>

    <div class="mb-3">
        <label for="" class="form-label"></label>
        <input class="form-control" asp-for="formFile">
    </div>

    <button type="submit" class="btn btn-primary"
          >
        Update
    </button>
</form>   